; To configurate an interaction type, create a new line and define the interaction: [New interaction].
; Then you can define whether or not all interactions must be accepted by setting 'accept_all' to True or False.
;
; If you want to specify binding modes, use the variable 'accept_only', which expects a list of strings in the format: <CHAIN ID>/<COMPOUND NAME>/<COMPOUND NUMBER>/<ATOM>
; Wildcards are accepted for the expected fields.
; For example, "*/HIS/*/*" represents all histidines' atoms from all chains.
;               "A/CBL/*/*" represents all ligands named CBL from chain A.
;               "B/HIS/*/N*" represents all histidines' nitrogens from chain B.
;
; Note that 'accept_all' has higher precedence than 'accept_only'.
;

[Proximal]
accept_all=True

[Hydrogen bond]
accept_all=True

[Ionic]
accept_all=True

[Salt bridge]
accept_all=True

[Cation-pi]
accept_all=True

[Hydrophobic]
accept_all=True

[Halogen bond]
accept_all=True

[Repulsive]
accept_all=True

[Water-bridged hydrogen bond]
accept_all=True

[Amide-aromatic stacking]
accept_all=True

[Weak hydrogen bond]
accept_all=True

[Covalent bond]
accept_all=True

[Atom overlap]
accept_all=True

[Van der Waals clash]
accept_all=True

[Van der Waals]
accept_all=True

[Chalcogen bond]
accept_all=True

[Chalcogen-pi]
accept_all=True

[Halogen-pi]
accept_all=True

[Orthogonal multipolar]
accept_all=True

[Parallel multipolar]
accept_all=True

[Antiparallel multipolar]
accept_all=True

[Tilted multipolar]
accept_all=True

[Multipolar]
accept_all=True

[Cation-nucleophile]
accept_all=True

[Anion-electrophile]
accept_all=True

[Unfavorable anion-nucleophile]
accept_all=True

[Unfavorable cation-electrophile]
accept_all=True

[Unfavorable nucleophile-nucleophile]
accept_all=True

[Unfavorable electrophile-electrophile]
accept_all=True

[Pi-stacking]
accept_all=True

[Face-to-face pi-stacking]
accept_all=True

[Face-to-edge pi-stacking]
accept_all=True

[Face-to-slope pi-stacking]
accept_all=True

[Edge-to-edge pi-stacking]
accept_all=True

[Edge-to-face pi-stacking]
accept_all=True

[Edge-to-slope pi-stacking]
accept_all=True

[Displaced face-to-face pi-stacking]
accept_all=True

[Displaced face-to-edge pi-stacking]
accept_all=True

[Displaced face-to-slope pi-stacking]
accept_all=True

[Single bond]
accept_all=True

[Double bond]
accept_all=True

[Triple bond]
accept_all=True

[Aromatic bond]
accept_all=True

[Other bond]
accept_all=True