
[Hydrogen bond]
max_da_dist_hb_inter = 3.9
max_ha_dist_hb_inter = 2.8
min_dha_ang_hb_inter = 90
min_har_ang_hb_inter = 90
min_dar_ang_hb_inter = 90
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Weak hydrogen bond]
max_da_dist_whb_inter = 4
max_ha_dist_whb_inter = 3
min_dha_ang_whb_inter = 110
min_har_ang_whb_inter = 90
min_dar_ang_whb_inter = 90
; Weak hydrogen bonds: hydrogen bonds involving aromatic rings
max_dc_dist_whb_inter = 4.5
max_hc_dist_whb_inter = 3.5
min_dhc_ang_whb_inter = 120
max_disp_ang_whb_inter = 40

; Refs:
;
;   Panigrahi, S. K. & Desiraju, G. R. (2007).
;   Desiraju, G. R. & Steiner, T. (2001).
;   Hydrogen bonds with π-acceptors in proteins: frequencies and role in 
;       stabilizing local 3D structures [Steiner, 2001]
;   Strong and Weak Hydrogen Bonds [Panigrahi, 2007]
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Ionic interaction]
max_dist_repuls_inter = 6
max_dist_attract_inter = 6

; Refs:
;
;   Barlow, D. J.; Thornton, J. M. Ion-Pairs in Proteins. 1983.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


[Aromatic stacking]
max_cc_dist_pi_pi_inter = 6
; Define if a ring is tilted, same plane or in a T-format
min_dihed_ang_slope_pi_pi_inter = 30
max_dihed_ang_slope_pi_pi_inter = 60
; Define if the ring is offset or aligned with another ring center.
min_disp_ang_offset_pi_pi_inter = 30
max_disp_ang_offset_pi_pi_inter = 60

; Refs:
;
;   Bhattacharyya et al. 2003. Geometry of Interaction of the Histidine 
;       Ring with Other Planar and Basic Residues.
;   Chakrabarti, P.; Bhattacharyya, R. 2007. Geometry of Nonbonded 
;       Interactions Involving Planar Groups in Proteins.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Amide-aromatic stacking]
; Ref: [1], [2], [4], and [5].
max_cc_dist_amide_pi_inter = 4.5
; Ref: [1] and [3].
max_dihed_ang_amide_pi_inter = 30
; Ref: [3]: I use the centroid of an amide, while they use the nitrogen.
max_disp_ang_pi_pi_inter = 30

; Refs:
;
;   [1] A systematic analysis of atomic protein–ligand 
;           interactions in the PDB [Freitas, 2007].
;   [2] Efficient Stacking on Protein Amide Fragments [Harder, 2013].
;   [3] The environment of amide groups in protein–ligand complexes: 
;           H-bonds and beyond [Cotesta, 2006].
;   [4] Hydrogen bonds with π-acceptors in proteins: frequencies and role 
;           in stabilizing local 3D structures [Steiner, 2001]
;   [5] Example of amide-pi: Systematic Investigation of Halogen Bonding
;           in Protein–Ligand Interactions [Hardegger, 2011]
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Hydrophobic interaction]
max_dist_hydrop_inter = 4.5
min_surf_size = 1
min_inter_atom_in_surf = 1
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Cation-pi interaction]
max_dist_cation_pi_inter = 6

; Refs:
;
;   Gallivan, J. P.; Dougherty, D. A. Cation-π Interactions 
;       in Structural Biology.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



;
; Halogen bonds
;
; Model: C-X ---- A-R, where C is a carbon, X a halogen, A an acceptor and 
;        R is an atom bonded to A.
;

[Halogen bond]
; Distance X-A when A is a single atom.
max_xa_dist_xbond_inter = 4
; Distance X-A when A is an aromatic ring, so C stands for Centroid.
max_xc_dist_xbond_inter = 4.5
min_cxa_ang_xbond_inter = 120
min_xar_ang_xbond_inter = 80
max_disp_ang_xbond_inter = 60

; Refs:
;
;   Halogen bonds in biological molecules [Auffinger, 2004]
;   The Important Role of Halogen Bond in Substrate Selectivity of 
;       Enzymatic Catalysis [Jiang, 2016]
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



;
; Chalcogen bonds
;
; Model: R-Y ---- A-N, where R is a carbon/sulfur, Y a chalcogen (S, Se, Te),
;        A an acceptor, and N a covalently bonded atom to A.
;

[Chalcogen bond]
; Distance Y-A when A is a single atom.
max_ya_dist_ybond_inter = 4  
; Distance Y-A, when A (acceptor) is an aromatic ring, so C stands for Centroid.
max_yc_dist_ybond_inter = 4.5
; Angles
min_rya_ang_ybond_inter = 120
min_yan_ang_ybond_inter = 80
; When A (acceptor) is an aromatic ring.
max_disp_ang_ybond_inter = 60

; Refs:
;   Mining and Structural Characterization of S···X Chalcogen Bonds in
;       Protein Database [Iwaoka, Michio, and Natsuki Babe, 2015].
;   Chalcogen Bonding ‘2S–2N Squares’ versus Competing Interactions:
;       Exploring the Recognition Properties of Sulfur [Ams et al, 2018].
;   S···O and S···N Sulfur Bonding Interactions in Protein–Ligand Complexes:
;       Empirical Considerations and Scoring Function [Koebel, 2016].
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



;
; Orthogonal multipolar interaction (dipole-dipole)
;
; Model: A-N ... E-Y, where N and E are the nucleophilic and electrophilic 
;        atom, respectively.
;

[Orthogonal multipolar interaction]
max_ne_dist_multipolar_inter = 4

; The angle NEY have a min and a max angle.
min_ney_ang_multipolar_inter = 70
max_ney_ang_multipolar_inter = 110
max_disp_ang_multipolar_inter = 40

; Orthogonal multipolar
min_an_ey_ang_ortho_multipolar_inter = 70
max_an_ey_ang_ortho_multipolar_inter = 110

; Parallel and antiparallel multipolar
max_an_ey_ang_para_multipolar_inter = 25
min_an_ey_ang_antipara_multipolar_inter = 155

; Refs:
;
;   Paulini R, Müller K, Diederich F. 2005. Orthogonal multipolar 
;       interactions in structural chemistry and biology.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



;
; Ion-multipole interaction (ion-dipole)
;   Model: I ... D-Y, where I is the ion, D the dipole atom of interest 
;   (the electrophile or nucleophile) and Y is its counterpart.
;

[Ion-multipole interaction]
max_id_dist_ion_multipole_inter = 4.5
min_idy_ang_ion_multipole_inter = 60
max_disp_ang_ion_multipole_inter = 40
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Proximal interaction]
max_dist_proximal = 6
min_dist_proximal = 2
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Van der Waals interaction]
vdw_tolerance = 0.1

;   Ref: Arpeggio.
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Van der Waals clash]
vdw_clash_tolerance = 0.6

; Ref: Chimera (https://www.cgl.ucsf.edu/chimerax/docs/user/commands/clashes.html).
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


[Metal complex]
max_ma_dist_metal_coord = 2.8



[Bond separation]
min_bond_separation = 3
min_bond_separation_for_clash = 4

; Ref: Chimera (https://www.cgl.ucsf.edu/chimerax/docs/user/commands/clashes.html).
;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



[Boundary cutoff]
bsite_cutoff = 6.2
cache_cutoff = 10
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;