[ignore]
self_inter = True
intra_chain = True
inter_chain = True
res_res = True
res_nucl = True
res_hetatm = True
nucl_nucl = True
nucl_hetatm = True
hetatm_hetatm = True
h2o_h2o = True
any_h2o = False
multi_comps = False
mixed_class = False


;[default]
; Accepted types: PLI, PPI, PNI, NNI, NLI
;type = PLI