# Files in the format:
*.htaccess
*.dat
*.bak
*.log
*.pdb
*.pkl
*.pkl.gz

*.output

*.csv

*\.fuse_hidden*

.project
.pydevproject

# Remove entire directories:

tmp/
www/system
www/application/config
www/data
__pycache__


# temporary files (e.g. Vim)
*~
*.swp
*.swo


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Sphinx documentation
docs/build/


# Jupyter Notebook
.ipynb_checkpoints


# IPython
profile_default/
ipython_config.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/