# Todos os arquivos:

*.htaccess
*.dat
*.bak
*.log

.project
.pydevproject

# Remove entire directories:
tmp/
www/system
www/application/config
www/data
__pycache__

*.pdb

*.output

*.csv

*\.fuse_hidden*