; To configurate an interaction type, create a new line and define the interaction: [New interaction].
; Then you can define whether or not all interactions must be accepted by setting 'accept_only' to True or False.

; If you want to specify binding modes, use the variable 'accept_only', which expects a list of strings in the format: <CHAIN ID>/<COMPOUND NAME>/<COMPOUND NUMBER>/<ATOM>
; Wildcards are accepted for the expected fields.
; For example, "*/HIS/*/*" represents all histidines' atoms from all chains.
;               "A/CBL/*/*" represents all ligands named CBL from chain A.
;               "B/HIS/*/N*" represents all histidines' nitrogens from chain B.

[Hydrogen bond]
accept_only=["A/LYS/245/*", "*/HIS/*/*"]

[Hydrophobic]
accept_all=True

[Cation-pi]
accept_only=["*"]
accept_all=False

[Weak hydrogen bond]
accept_all=False
accept_only=["*/THR/434/O*"]

[Face-to-edge pi-stacking]
accept_all=False

[Aromatic stacking]
accept_all=True

[*]
accept_all=False
